body
{
    background-color: Aqua;
}
.maindiv
{
    width: auto;
    height: auto;
    background-color: #82a43a;
}
#header
{
    width: auto;
    height: 40px;
    background: url(../Images/paper.gif);
    background-repeat: repeat;
    background-position: left top;
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 20px;
}
#logo
{
    width:60px;
    height:50px;
    border:1px solid black;
    float:right;
    margin-top:0px;
    vertical-align:top;
}
#companyname
{
    font-family: Times New Roman;
    font-size: larger;
    color: Maroon;
    text-transform: uppercase;
    margin: 5px auto;
    font-weight: bolder;
    text-align: left;
    font-size: x-large;
    width: 809px;
    float:left;
}
.middle
{
    width: auto;
    height: 659px;
    background-color: #FFFFFF;
    background-image: url('../Images/back4.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
}
.about
{
    width: 980px;
    height: 570px;
    margin-top: 2px;
    background-image:url('../Images/Logo.jpg');
    background-size:100%;
    border-radius: 10px;
    border: 2px solid blue;
    padding: 20px;
    float: left;
}
.loginwindow
{
    width: 410px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
    right: 8px;
    border: 3px solid #73AD21;
    padding: 5px;
    margin-top: 0;
    margin-top: 10px;
    float: right;
}
.footer
{
    height: 30px;
    width: auto;
    background-color: White;
    vertical-align: bottom;
    border: 10px;
    position: relative;
}
.login
{
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 400px;
    right: 20px;
    margin-top: 51px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    float: right;
}
.login:before
{
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.login h1
{
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 25px;
    font-weight: bold;
    color: White;
    text-align: center;
    text-shadow: 0 1px black;
    background: Orange;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
    background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
    background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
    -webkit-box-shadow: 0 1px whitesmoke;
    box-shadow: 0 1px whitesmoke;
}
.login p
{
    margin: 20px 0 0;
}
.login p:first-child
{
    margin-top: 0;
}
.login input[type=text], .login input[type=password]
{
    width: 278px;
}
.login p.remember_me
{
    float: left;
    line-height: 31px;
    
}
.login p.remember_me label
{
    font-size: 12px;
    text-shadow: 0 1px blue;
    color: #777;
    cursor: pointer;
}
.login p.remember_me input
{
    position: relative;
    bottom: 1px;
    margin-right: 4px;
    vertical-align: middle;
}
.login p.submit
{
    text-align: left;
    margin-left: 80px;
    font-family: Times New Roman;
    text-transform: uppercase;
}

.login-help
{
    margin: 20px 0;
    font-size: 11px;
    color: white;
    text-align: center;
    text-shadow: 0 1px #2a85a1;
}
.login-help a
{
    color: #cce7fa;
    text-decoration: none;
}
.login-help a:hover
{
    text-decoration: underline;
}

:-moz-placeholder
{
    color: #c9c9c9 !important;
    font-size: 13px;
}

::-webkit-input-placeholder
{
    color: #ccc;
    font-size: 13px;
}

input
{
    font-family: 'Lucida Grande' , Tahoma, Verdana, sans-serif;
    font-size: 14px;
}

input[type=text], input[type=password]
{
    margin: 5px;
    padding: 0 10px;
    width: 200px;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    outline: 5px solid #eff4f7;
    -moz-outline-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus
{
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0;
}

input[type=submit]
{
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
    background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
    -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active
{
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password]
{
    line-height: 34px;
}

